body
  margin: 10px
  background: url(../img/grey-bg.png)
  font-size: 14px
  box-sizing: border

h2
  font-size: 16px
  margin: 5px 0

p
  margin: 5px 0

li
  margin: 0 0 5px 0

.menu
  width: 195px
  float: left
  margin-right: 30px

.main
  /* 	float: left*/
  margin: 15px 0
  overflow: scroll
  position: relative

.menu_ul
  margin: 0 0 10px 0
  padding: 5px
  list-style: none
  border: 1px #a2a8a8 solid
  border-radius: 5px

.color_picker_block li,
.siser li
  margin-bottom: 10px
  overflow: auto








/* .color_picker
	height: 25px
	padding: 0 5px
	border: 0
	border-radius: 5px */

.colors
  width: 25px
  height: 25px
  float: left
  border-radius: 20px

.colors:hover
  cursor: pointer

.color_box
  width: 25px
  float: left
  margin-right: 10px
  padding: 5px
  border-radius: 5px

.siser_btn
  margin-right: 30px

#colors_black
  background: #000

#colors_white
  background: #FFF

#colors_red1
  background: #891C45

#colors_red2
  background: #BA1010

#colors_red3
  background: #ff0000

#colors_red4
  background: #F99191

#colors_red5
  background: #F9BDBD

#colors_red6
  background: #F5D0D0

#colors_yellow1
  background: #DB4623

#colors_yellow2
  background: #BAAB10

#colors_yellow3
  background: #FFFC20

#colors_yellow4
  background: #FFFD76

#colors_yellow5
  background: #F9F8B6

#colors_blue1
  background: #1053FF

#colors_blue2
  background: #109BFF

#colors_blue3
  background: #88C6F2

#colors_purple1
  background: #6032E8

#colors_purple2
  background: #9776F9

#colors_purple3
  background: #B29EEC

#colors_green1
  background: #228811

#colors_green2
  background: #37BE21

#colors_green3
  background: #6FDF5D

#colors_green4
  background: #BAF7B1

.color_count
  width: 100%
  float: left
  text-align: center

.clear_canvas
  display: block

.siser_input
  width: 30px

.siser_btn
  float: left
  padding: 1px 10px
  background: #FFF
  border-radius: 3px
  cursor: pointer

.color_picker_block .act,
.siser .act
  background: #42B9DF
  color: #FFF

#canvas
  position: absolute
  top: 0
  left: 0
  z-index: 10

#canvas_coord
  position: relative
  z-index: 1