body {
    margin: 10px;
    background: #ddd;
}
h2 {
    font-size: 16px;
}

.menu {
	width: 300px;
	float: left;
    margin-right: 10px
}
.color_picker, .siser {
    width: 270px;
    float: left;
	margin: 0 0 20px;
	padding: 10px;
	list-style: none;
    border: 1px #a2a8a8 solid;
    border-radius: 5px;
}
.color_picker li, .siser li {
	margin-bottom: 10px;
	overflow: auto;
}
.colors {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
	border-radius: 20px;
}
.colors:hover {
	cursor: pointer;
}
.color_box {
	width: 25px;
	float: left;
	margin-right: 15px;
}
.siser_btn {
    margin-right: 30px;
}
#colors_black {
	background: #000;
}
#colors_white {
	background: #FFF;
}
#colors_red1 {
	background: #891C45;
}
#colors_red2 {
	background: #BA1010;
}
#colors_red3 {
	background: #ff0000;
}
#colors_red4 {
	background: #F99191;
}
#colors_red5 {
	background: #F9BDBD;
}
#colors_red6 {
	background: #F5D0D0;
}
.color_count {
	width: 100%;
	float: left;
	text-align: center;
}


#canvas {
	float: left;
}

.siser_btn {
    float: left;
    padding: 1px 10px;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.act {
    background: #60c0df;
    color: #fff;
}
