body {
    margin: 10px;
    background: #ddd;
}

.menu {
	width: 300px;
	float: left;
}
.colorPicker {
	margin: 0;
	padding: 0;
	list-style: none;
}
.colorPicker li {
	margin-bottom: 10px;
	overflow: auto;
}
.colors {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
	border-radius: 20px;
}
.colors:hover {
	cursor: pointer;
}
.color_box {
	width: 25px;
	float: left;
	margin-right: 10px;
}
#colors_black {
	background: #000;
}
#colors_white {
	background: #FFF;
}
#colors_red1 {
	background: #891C45;
}
#colors_red2 {
	background: #BA1010;
}
#colors_red3 {
	background: #ff0000;
}
#colors_red4 {
	background: #F99191;
}
#colors_red5 {
	background: #F9BDBD;
}
#colors_red6 {
	background: #F5D0D0;
}
.color_count {
	width: 100%;
	float: left;
	text-align: center;
}


#canvas {
	float: left;
}
